{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img id="logo" src="static/images/peaceful.jpeg" alt="Logo"></a>
        </div>
        <h2>My Quiet Place Login</h2>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Go Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/logout"> Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="col-md-8 offset-md-2">
        <form class="login" action="/login" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus name="first_name" placeholder="First Name" type="text"><br>
                <input autocomplete="off" name="username" placeholder="Username" type="text"><br>
                <input name="password" placeholder="Password" type="password"><br>
                <button id="login" class="btn btn-dark btn-lg" type="submit">Log In</button>

            </div>

        </form>
        <div class="footer">
            <footer>
                <div id="foot" class="text-center p-3">
                    Taking a little break from the day.

            </footer>
        </div>


        {% endblock %}

        </html>